{% extends './index.html' %}

{% block body %}
{% block content %}

<div class="main">
    <div class="clock-container">
        <!-- <canvas width=250 height=250></canvas> -->
        <div id="digital-clock"></div>
        <div style="font-size: 56px">{{ DHTdata.temperature }} C&#176;</div>

        {% for lan in networkDevices %}
        <p>{{ lan }}</p>
        {% endfor %}

    </div>
    <div class="separator-vertical"></div>
    <div class="weather-container" id="local-weather-container">
        <img id="weather-icon" src="{{ currentWeather.weatherIcon }}" alt="..." />
        <div id="weather-description" style="text-transform: capitalize; font-size: 2rem;">{{
            currentWeather.weatherDescription }}</div>
        <div id="weather-data">
            <p id="weather-temperature">Temperature: {{ currentWeather.temperature }} C&#176;</p>
            <p id="weather-humidity">Humidity: {{ currentWeather.humidity }} %</p>
            <p id="weather-pressure">Pressure: {{ currentWeather.pressure }} hPa</p>
        </div>
    </div>
</div>
<script type="application/javascript" src="js/analogClock.js"></script>
<script type="text/javascript">
    setInterval(() => {
        window.location.reload();
    }, 60 * 60 * 1000);

    let blink = true;
    
    setInterval(() => {
        const date = new Date();
        const clock = document.getElementById("digital-clock");
        const minutes = date.getMinutes() > 9 ? date.getMinutes() : `0${date.getMinutes()}`;
        const seconds = date.getSeconds() > 9 ? date.getSeconds() : `0${date.getSeconds()}`;
        clock.innerHTML = `<div id="digital-clock-time">${date.getHours()}<div style="visibility:${blink ? "visible" : "hidden"};">:</div>${minutes}</div>
                        <div id="digital-clock-date">${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}</div>`;
        blink = !blink;
    }, 1000);
</script>
{% endblock %}

{% endblock %}