<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="css/index.css">
    <!-- <link rel="stylesheet" href="css/forecast.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/control.css">
    <link rel="stylesheet" href="css/settings.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Domotic Automation Server</title>
</head>

<body>
   
        {% block body %}

        {% endblock %}
</body>

</html>