body {
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Orbitron', sans-serif; */
    font-size: 12px;
    background: black;
    color: whitesmoke;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
}

.clock-container {
    text-align: center;
    font-size: 16px;
}

.clock-container p {
    font-size: 24px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-icon {
    width: 150px;
}

#weather-data p {
    font-size: 2rem;
}

#date-display {
    font-size: 24px;
    margin-top: 1rem;
}

.separator-vertical {
    border: 1px solid #2f42cc;
    height: 20rem;
}

#digital-clock {
    font-size: 50px;
}

#digital-clock-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }

    .separator-vertical {
        display: none;
    }

    #weather-data p{
        font-size: 1.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */